<!DOCTYPE html>​
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <link type="text/css" rel="stylesheet" href="/css/custom.css">
</head>

<body>

  <h2>{{ .Title }}</h2>

  <div class="grid">
    {{ range .Pages }}
    <div>
      <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch "photo.{jpg,png}" }}
        <img src="{{ .RelPermalink }}" width="100%" height="auto"/>
        {{ end }}
        {{ .Title }}
      </a>
    </div>
    {{ end }}
  </div>

</body>

</html>

