<!DOCTYPE html>​
<html lang="en-US">

<head>
  <meta charset="utf-8"​>
  <title>{{ .Site.Title }}</title>
  <link type="text/css" rel="stylesheet" href="/css/lightgallery.css" />
  <link type="text/css" rel="stylesheet" href="/css/lg-thumbnail.css" />
  <link type="text/css" rel="stylesheet" href="/css/custom.css">
</head>

<body>

  <div class="grid2">
    <div>
      <h1>{{ .Title }}</h1>
      <div class="content">{{ .Content }}</div>
    </div>
    <div id="gallery-container-main">
      {{ with .Resources.GetMatch "photo.{jpg,png}" }}
      <a href="{{ .Name }}">
        <img src="{{ .Name }}" class="img-responsive"/>
      </a>
      {{ end }}
    </div>
  </div>

  <div id="gallery-container">
    {{ range .Resources.Match "detail/*.{jpg,png}" }}
    <a href="{{ .Name }}">
    <img src="{{ .Name }}" class="img-responsive"/>
    </a>
    {{ end }}
  </div>

  <script src="/js/lightgallery/lightgallery.umd.js"></script>
  <script src="/js/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>
  <script src="/js/lightgallery/plugins/zoom/lg-zoom.umd.js"></script>

  <script type="text/javascript">
  lightGallery(document.getElementById('gallery-container-main'), {
    plugins: [lgZoom, lgThumbnail],
    speed: 500,
    mode: 'lg-fade',
    showZoomInOutIcons: true,
  });
  lightGallery(document.getElementById('gallery-container'), {
    plugins: [lgZoom,lgThumbnail],
    speed: 500,
    mode: 'lg-fade',
  });
  </script>

</body>

</html>

