@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');

body {
  font-family: 'Cormorant Upright', serif;
}

.content {
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}
