<!DOCTYPE html>​
<html lang="en-US">

<head>
  <meta charset="utf-8"​>
  <title>{{ .Site.Title }}</title>
</head>

<body>

  <h2>{{ .Title }}</h2>
  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
  layouts - default - list
</body>

</html>

