<!DOCTYPE html>​
<html lang="en-US">

<head>
  <meta charset="utf-8"​>
  <title>{{ .Site.Title }}</title>
</head>

<body>
  <h1>{{ .Site.Title }}</h1>
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  layouts - default - single
</body>

</html>
