<!DOCTYPE html>​
<html lang="en-US">

<head>
  <meta charset="utf-8"​>
  <title>{{ .Site.Title }}</title>
</head>

<body>
  <h1>{{ .Site.Title}}</h1>
  {{ .Content }}
  layouts - index

  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

</body>

</html>
